## ayuda y compilacion ##
HELP.md
target/
*.class
*.jar

# Maven
.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Seguridad y config ###
credentialsandstuff.env
.env
.env.local
# Docker data
jwt_db_data/
postgres_data/
.docker/